<!-- Navigation -->

    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <a ng-href="#/">
                    <div class="top-menu">GOALS > </div>
                </a>
            </div>
            <div class="col-md-8 text-center">
                <div class="col-md-3 text-center">
                    <a ng-href="#/">
                        <div class="top-menu">Awareness & Exposure</div>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a ng-href="#/">
                        <div class="top-menu">Foster Dialogue</div>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a ng-href="#/">
                        <div class="top-menu">Behavoir Change</div>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a ng-href="#/">
                        <div class="top-menu">Highlight EVENTS</div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <a ng-href="#/">
                    <div class="top-menu">AUDIENCE</div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-10 col-md-2 text-center">
                <a ng-href="#/">
                    <div class="side-menu">Executing Agencies</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Donors</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Government Officials High-Level</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Investors</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Firms Privet Sector</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Media</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Academia</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Youth LAC Ages 25-45</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">Job Seekers</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">NGO's</div>
                </a>
                <a ng-href="#/">
                    <div class="side-menu">General Public</div>
                </a>
            </div>
        </div>
    </div>