<!-- Navigation -->

    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center ">
                <a ng-href="#/">
                    <div class="top-menu">GOALS > </div>
                </a>
            </div>
            <div class="col-md-8 text-center">
                <div class="col-md-3 text-center top-menu">
                    <a ng-href="#/">
                        <div class="top-menu">Awareness & Exposure</div>
                    </a>
                </div>
                <div class="col-md-3 text-center top-menu">
                    <a ng-href="#/">
                        <div class="top-menu">Foster Dialogue</div>
                    </a>
                </div>
                <div class="col-md-3 text-center top-menu">
                    <a ng-href="#/">
                        <div class="top-menu">Behavoir Change</div>
                    </a>
                </div>
                <div class="col-md-3 text-center top-menu">
                    <a ng-href="#/">
                        <div class="top-menu">Highlight EVENTS</div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center top-menu">
                <a ng-href="#/">
                    <div class="top-menu">AUDIENCE</div>
                </a>
            </div>
        </div>
    </div>